@model IEnumerable<crud_pessoa.Models.Evento>

<div class="container">
    <br>
    <a class="btn btn-primary" href="Evento/Create">Criar</a>    
    <table class="table table-striped">
        <thead>
            <th>Id</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Data</th>
            <th>Número Limite de Pessoas no Evento</th>
            <th>Deletar</th>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.name</td>
                    <td>@item.address</td>
                    <td>@item.data</td>
                    <td>@item.numeroAproximado</td>
                    <td><a href="Evento/UpdatePage/@item.id" class="btn btn-primary">Update</a></td>                    
                    <!-- <td><a href="Evento/Delete/@item.id" class="btn btn-danger">Deletar</a></td> -->
                </tr>
            }
        </tbody>
    </table>
</div>